{% extends 'blogapp/boilerplate.html' %}

{% block content %}
<h1>Take a look at some other Dog Blogs!</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Date Created</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td>{{post.title}}</td>
            <td>{{post.date_created}}</td>
            <td><a href="{% url 'blogapp:details' post.id %}"><button type="submit" class="btn btn-primary">Details</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}