<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
    integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
    crossorigin="anonymous"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  <title>Jon's Libray</title>

  <style>
    .highlight {
      background-color: blue;
      color: white;
    }

    .searchButton {
      margin-left: 4px;
    }
  </style>

</head>

<body>
  <div id="app">
    <div class="container">
      <h1>Jon's Library</h1>
      <hr>
      <form>
        <div class="row">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Search</span>
            </div>
            <input type="text" v-model="search" class="form-control " placeholder="Title or Author"
              aria-label="Username" aria-describedby="basic-addon1">
            <button type="submit" v-on:click="getBooks" class="btn btn-info searchButton">Find that book!</button>
          </div>
        </div>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Pages</th>
            <th scope="col">Year</th>
            <th scope="col">Country</th>
            <th scope="col">Language</th>
            <th scope="col">Wiki</th>
            <th scope="col">Cover</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="book in books">
            <td>[[ book.title ]]</td>
            <td>[[ book.author ]]</td>
            <td>[[ book.pages ]]</td>
            <td>[[ book.year ]]</td>
            <td>[[ book.country ]]</td>
            <td>[[ book.language ]]</td>
            <td><a v-bind:href="book.url">[[ book.url ]]</a></td>
            <td><img
                v-bind:src=`https://raw.githubusercontent.com/PdxCodeGuild/class_mountain_goat/master/4%20Django/labs/images/${[[book.image]]}`
                alt=""></td>
          </tr>
        </tbody>
      </table>






      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" v-bind:class="{disabled: current_page == 1}" v-bind:disabled="current_page == 1"
            v-on:click="setPage(1)" v-if="current_page !== 1"><a class="page-link" href="#">First</a>
          </li>
          <li class="page-item" v-bind:class="{disabled: current_page == 1}" v-bind:disabled="current_page == 1"
            v-on:click="setPage(current_page-1)"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item" v-bind:class="{disabled: current_page == 1}" v-bind:disabled="current_page == 1"
            v-on:click="setPage(current_page-1)" v-if="current_page !== 1"><a class="page-link"
              href="#">[[current_page-1]]</a></li>
          <li class="page-item"><a class="page-link highlight" href="#">[[current_page]]</a></li>
          <li class="page-item" v-on:click="setPage(current_page+1)" v-bind:class="{disabled: current_page == pages}"
            v-bind:disabled="current_page == pages" v-if="current_page !==20"><a class="page-link"
              href="#">[[current_page+1]]</a></li>
          <li class="page-item" v-on:click="setPage(current_page+1)" v-bind:class="{disabled: current_page == pages}"
            v-bind:disabled="current_page == pages"><a class="page-link" href="#">Next</a></li>
          <li class="page-item" v-on:click="setPage(pages)"
            v-bind:class="{disabled: current_page == pages}" v-bind:disabled="current_page == pages"
            v-if="current_page !==20"><a class="page-link" href="#">Last</a></li>
        </ul>
      </nav>


    </div>
  </div>
  <script>
    let app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        search: '',
        books: [],
        current_page: 1,
        pages: 20,
      },
      methods: {
        setPage: function (i) {
          if (i >= 1 && i <= this.pages) {
            this.current_page = i
            this.getBooks()
          }
        },
        getBooks: function () {
          axios({
            url: '{% url "Libraryapp:search" %}',
            method: 'get',
            params: {
              page: this.current_page,
              text: this.search
            }
          }).then(response => {
            // this.search = response.data.search
            this.books = response.data.books
            console.log(response.data)
          })
        }
      },
      created: function () {
        this.getBooks()
        console.log(this.books)
      }
    })
  </script>
</body>

</html>