<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">ALLSHAPES</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="">About</a></li>
                <li><a href="badges.html">Newsletter</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Keep in touch<i
                            class="material-icons right">arrow_drop_down</i></a></li> <!-- no drop down arrow?  -->
            </ul>
        </div>
    </nav>
    <div class="row">
        {% for category in categories %}
        <div class="col s6">
            <div class="card">
                <div class="card-image">
                    {% if category.image %}
                    <img src="{{category.image.url}}">
                    {% endif %}
                </div>
                <div class="card-content">
                    <p>{{category.description}}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'blogapp:category' category.path_name %}">{{category.name}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</body>
<script>
    $(".dropdown-trigger").dropdown();//where is the drop down arrow?
</script>

</html>