</html>
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Pokedex</title>
    <style>
        td,
        th,  {
            vertical-align: middle !important;
        }
        ul {
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Pokedex</h1>
        <form action="{% url 'pokedex:index' %}" method="get">
            <div class="input-group mb-3">
                <input name="search" type="text" class="form-control" placeholder="Pokemon Name"
                    aria-label="Pokemon Name" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-dark" type="submit" id="button-addon2">Search</button>
                </div>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Photo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for each_pokemon in pokemon %}
                <tr>
                    <th scope="row">{{ each_pokemon.number }}</th>
                    <td>{{ each_pokemon.name }}</td>
                    <td>{% for type in each_pokemon.types.all %}{{ type.name }} {%if not forloop.last %}/
                        {%endif%}{% endfor %}</td>
                    <td> <img src="{{ each_pokemon.image_front }}" alt="pokemon photo"></td>
                    <td><a href="{% url 'pokedex:details' each_pokemon.id%}" type="button"
                            class="btn btn-success">details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <nav>
        <ul class="pagination">
            {% if pokemon.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ pokemon.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="disabled"><a href="#!"><i class="page-link">&laquo;</i></a></li>
            {% endif %}

            {% if pokemon.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ pokemon.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="disabled"><a href="#!"><i class="page-link">&raquo;</i></a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>