<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Dashboard</title>
    <style>
        .search-button {
            padding-top: 5px !important;
        }
        @media only screen and (max-width: 703px) {
            .brand-logo {
                white-space: nowrap;
                font-size: 19px !important; 
            }
            h4 {
                font-size: 20px;
                white-space: nowrap;
            }
            p{
                font-size: 12px;
            }
        }
        @media only screen and (max-width: 1603px){
            .view-post{
                margin-top: 5px;
            }
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'julieapp:dashboard' %}" class="brand-logo center">ALLSHAPES • DASHBOARD</a>
            <ul class="right hide-on-med-and-down">
                <li><a target="_blank" href="https://us2.admin.mailchimp.com/">Newsletter</a></li>
                <li><a target="_blank" href="https://disqus.com/admin/">Disqus</a></li>
                <li><a href="{% url 'julieapp:logout' %}">Logout</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    
    <!-- side menu for mobile -->
    <ul id="slide-out" class="sidenav">
        <li><a target="_blank" href="https://us2.admin.mailchimp.com/">Newsletter</a></li>
        <li><a target="_blank" href="https://disqus.com/admin/">Disqus</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a href="{% url 'julieapp:logout' %}">Logout</a></li>
    </ul>

    <div class="fixed-action-btn">
        <a href="{% url 'julieapp:create' %}" class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
    </div>
    <!-- blog post cards -->
    <div class="container">
        <form class="row" action="{% url 'julieapp:dashboard' %}" method="GET">
            <div class="input-field col m8 s12">
                <input class="search-bar" name="search" type="text" placeholder="Search">
            </div>
            <div class="input-field col m2 s8">
                <select name="category">
                    <option value="">All categories</option>
                    {% for category in categories %}
                    <option {% if selected_category == category.name %} selected {% endif %}value="{{category.name}}">{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-field search-button col m2 s4">
                <button class="btn" type="submit">Search</button>
            </div>
        </form>

        {% for post in posts %}
        <div class="row">
            <div class="col s12 m7">
                <h4>{{ post.title }}</h4>
                <div class="card horizontal hoverable">
                    <div class="card-image">
                        {% if post.image %}
                        <a target="_blank" href="{% url 'blogapp:post' post.id %}"><img src="{{post.image.url}}"></a>
                        {% endif %}
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p><b>Category:</b>
                                {% for category in post.categories.all %}{{category.name}}{% if not forloop.last %}/{%endif%}{% endfor %}
                            </p><br>

                            <p><b>Description:</b> {{post.description}}</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'julieapp:edit' post.id %}" class="waves-effect waves-light btn-small"><i
                                    class="material-icons right">create</i>Edit Post</a>
                            <a target="_blank" href="{% url 'blogapp:post' post.id %}" class="waves-effect waves-light btn-small view-post"><i
                                class="material-icons right">visibility</i>View Post</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, {});
        });

    // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
    // var collapsibleElem = document.querySelector('.collapsible');
    // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);
    </script>
</body>

</html>