<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="" class="brand-logo center">Julie's Dashboard</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'julieapp:logout' %}">logout</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <!-- blog post cards -->
    <div class="container"> 
        <a href="{% url 'julieapp:create' %}" class="waves-effect waves-light btn-small"><i class="material-icons left">add_circle</i>Create Blog Post</a>
        <div class="row">
            {% for post in posts %}
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        {% if post.image %}
                        <img src="{{post.image.url}}">
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <p>{{post.description}}</p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'julieapp:edit' post.id %}" class="waves-effect waves-light btn-small"><i class="material-icons right">create</i>Edit Post</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>